#medfrec
net pin_frecuencia loc= M13;	#entrada de frecuencia JB1
net pin_frecuencia clock_dedicated_route=false;
 
net reset loc=h13; #push button 
 
net mclk loc=b8;

#net sel_p loc= g18; #dip switch
 
net leds<7> loc=r4;	#leds
net leds<6> loc=f4;
net leds<5> loc=p15;
net leds<4> loc=e17;
net leds<3> loc=k14;
net leds<2> loc=k15;
net leds<1> loc=j15;
net leds<0> loc=j14;

#JB
net s0_p loc= G15;#JC1
net s1_p loc= J16;
net s2_p loc= G13;
net s3_p loc= H16;#JC4



net led_sel loc = L15;#JA1





































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































